.formulario,
.log 
.d
{
  color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
#user {
  margin-bottom: 20px;
}

#contra {
  margin-top: 20px;
  margin-bottom: 20px;
}

#bot {
  margin-bottom: 20px;
}
